Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: master
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

Use type=tls instead of generic
  charts/piraeus/charts/etcd/README.md
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/_helpers.tpl
  doc/security.md
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/linstor/client/client.go
  pkg/linstor/client/client_test.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

Use PEM formatted certificates
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  doc/security.md
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/spec/const.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

Update CHANGELOG.md and UPGRADE.md
  CHANGELOG.md
  UPGRADE.md
Due: none

stork: update to v2.8.2
  CHANGELOG.md
  charts/piraeus/templates/stork-deployment.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
Due: generate-cn-values, generate-piraeus-yaml

Autogen tls-certificates
  CHANGELOG.md
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-https-secret.yaml
  charts/piraeus/templates/operator-issuer.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/templates/operator-ssl-secret.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/security.md
Due: generate-cn-values, generate-piraeus-yaml

fix missing LinstorContoller
  charts/piraeus/templates/operator-controller.yaml
Due: generate-piraeus-yaml

fix example deployment generation
  charts/piraeus/templates/operator-controller-passphrase.yaml
  charts/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-controller-passphrase.yaml
  deploy/piraeus/templates/operator-controller.yaml
  doc/security.md
Due: generate-piraeus-yaml

Update stork scheduler for 1.22+
  charts/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

Support Kubernetes v1.20-1.22
  charts/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

satellite: remove useless readiness probe
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

reduce load on satellites
  CHANGELOG.md
  go.mod
  go.sum
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/linstor/client/client.go
Due: none

cleanup Chart.lock
  charts/piraeus/Chart.lock
Due: generate-piraeus-yaml

Automatically create backup of LINSTOR resources
  CHANGELOG.md
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  cmd/manager/main.go
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  doc/k8s-backend.md
  go.mod
  pkg/controller/linstorcontroller/common.go
  pkg/controller/linstorcontroller/linstorcontroller_backup.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: generate-piraeus-yaml

Update RBAC for CSI-plugin
  charts/piraeus/templates/csi-controller-rbac.yml
  deploy/piraeus/templates/csi-controller-rbac.yml
Due: generate-piraeus-yaml

update go deps
  go.mod
  go.sum
Due: none

update charts.lock
  charts/piraeus/Chart.lock
Due: generate-piraeus-yaml

Update images:
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.8.0-rc.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

let components wait for LINSTOR API
  CHANGELOG.md
  charts/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  doc/helm-values.adoc
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-piraeus-yaml

Replace STORK with scheduler-extender
  charts/piraeus/templates/scheduler-deployment.yaml
  charts/piraeus/templates/scheduler-rbac.yaml
  charts/piraeus/templates/stork-deployment.yaml
  charts/piraeus/values.yaml
Due: generate-cn-values, generate-piraeus-yaml
