Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: a4be1d0f860565649a450a8d480e541844c14a07
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

Add MonitoringBindAddress option
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Add httpBindAddress and httpsBindAddress options
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

update images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.8.2
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

chart: fix ugprading from old CRDs
  charts/piraeus/templates/operator-controller.yaml
Due: generate-piraeus-yaml

satellite: continue if controller unreachable
  .golangci.yml
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

custom labels and annotations support
  CHANGELOG.md
  charts/piraeus/templates/ha-controller-deployment.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/metadata/util/util.go
Due: generate-cn-values, generate-piraeus-yaml

Introduce kernelModuleInjectionExtraVolumeMounts option
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/apis/piraeus/v1/zz_generated.deepcopy.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

add option to deploy piraeus via kustomize
  README.md
  deploy/kustomization.yaml
Due: none

automate kustomization file
  Makefile
  deploy/create-kustomization.bash
  deploy/kustomization.yaml
Due: none

kustomization sort files
  deploy/create-kustomization.bash
  deploy/kustomization.yaml
Due: none

satellites: only query disks on single satellite
  CHANGELOG.md
  go.mod
  go.sum
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

fix lastAppliedAnnotation
  CHANGELOG.md
  pkg/k8s/reconcileutil/resources.go
Due: none

chart: disabled legacy HA Controller deployment
  CHANGELOG.md
  UPGRADE.md
  charts/piraeus/templates/NOTES.txt
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/kustomization.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/ha-controller-rbac.yaml
  doc/optional-components.md
Due: generate-cn-values, generate-piraeus-yaml

chart: add instructions for affinity controller
  CHANGELOG.md
  charts/piraeus/templates/NOTES.txt
  doc/optional-components.md
Due: generate-piraeus-yaml

Release v1.9.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

chart: update images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

fix stuck reconciler when updating service monitor
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

Release v1.9.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

reconcile: ensure annotations are applied even for recreated resources
  pkg/k8s/reconcileutil/resources.go
Due: none
