Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

generate-deep-copy:
  name: generated deep-copy code must be up-to-date
  language: system
  pass_filenames: false
  entry: make deep-copy

generate-crds:
  name: generated crds must be up-to-date
  language: system
  pass_filenames: false
  entry: make crds

generate-cn-values:
  name: generate helm values for CN users
  language: system
  pass_filenames: false
  entry: make helm-values

generate-piraeus-yaml:
  name: generate full yaml deployment from helm templates
  language: system
  pass_filenames: false
  entry: make deploy/piraeus

automatically create yaml deployment files from helm
  .pre-commit-config.yaml
  Makefile
  README.md
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/rbac.yaml
  deploy/piraeus/charts/etcd/templates/service.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/csi-controller-rbac.yml
  deploy/piraeus/templates/csi-node-rbac.yml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/templates/stork-deployment.yaml
  examples/etcd-env-vars.yaml
  examples/etcd-values.yaml
  examples/piraeus-operator-part-1.yaml
  examples/piraeus-operator-part-2.yaml
Due: generate-piraeus-yaml

Docs: add release badge + reset CHANGELOG for v1.0.0
  CHANGELOG.md
  README.md
Due: none

Release v1.0.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

fixup for help output from legacy-check.yaml
  charts/piraeus/templates/legacy-check.yaml
Due: generate-piraeus-yaml

readme: replace alpha notice with introductory description
  README.md
  UPGRADE.md
Due: none

readme: move contribution and build information to the bottom
  README.md
Due: none

readme: update hostPath notes to use key 'replicas' and default count 1
  README.md
Due: none

Add minimal support for PSPs
  CHANGELOG.md
  Makefile
  charts/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  charts/piraeus/charts/etcd/templates/rbac.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/templates/controller-rbac.yml
  charts/piraeus/templates/etcd-configmap.yaml
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/psp.yaml
  charts/piraeus/templates/satellite-rbac.yml
  charts/piraeus/templates/stork-deployment.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/charts/etcd/templates/rbac.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/controller-rbac.yml
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/satellite-rbac.yml
  deploy/piraeus/templates/stork-deployment.yaml
  doc/helm-values.adoc
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/spec/const.go
Due: generate-cn-values, generate-piraeus-yaml

remove legacy crds and pull secrets
  CHANGELOG.md
  README.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollersets_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstornodesets_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  doc/helm-values.adoc
  pkg/apis/addtoscheme_piraeus_v1alpha1.go
  pkg/apis/compat_test.go
  pkg/apis/piraeus/v1alpha1/doc.go
  pkg/apis/piraeus/v1alpha1/linstorcontroller_types.go
  pkg/apis/piraeus/v1alpha1/linstorcontrollerset_types.go
  pkg/apis/piraeus/v1alpha1/linstorcsidriver_types.go
  pkg/apis/piraeus/v1alpha1/linstornodeset_types.go
  pkg/apis/piraeus/v1alpha1/linstorsatelliteset_types.go
  pkg/apis/piraeus/v1alpha1/register.go
  pkg/apis/piraeus/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/linstorcontroller/common.go
  pkg/controller/linstorcontroller/legacy_controller.go
  pkg/controller/linstorcontroller/legacy_controller_test.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/common.go
  pkg/controller/linstorsatelliteset/legacy_controller.go
  pkg/controller/linstorsatelliteset/legacy_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/owner_reference_update.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

allow overriding images via env variables
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/update_from_env.go
  pkg/k8s/spec/const.go
Due: none

Enable CSIs topology feature
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  doc/helm-values.adoc
  pkg/apis/piraeus/v1/linstorcsidriver_types.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

centralize security context configuration + SCC support
  CHANGELOG.md
  charts/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/csi-node-rbac.yml
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/satellite-rbac.yml
  charts/piraeus/templates/stork-deployment.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/csi-node-rbac.yml
  deploy/piraeus/templates/satellite-rbac.yml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

Fix etcd volume for non-root etcd containers
  CHANGELOG.md
  charts/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/stork-deployment.yaml
  charts/pv-hostpath/Chart.yaml
  charts/pv-hostpath/templates/pv.yaml
  charts/pv-hostpath/values.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

support multiple replicas for linstor-controller
  CHANGELOG.md
  README.md
  UPGRADE.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/templates/controller-rbac.yml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/controller-rbac.yml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
  go.mod
  go.sum
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/apis/piraeus/v1/zz_generated.deepcopy.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Update stork image selection to upstream v2.5.0
  CHANGELOG.md
  Makefile
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/stork-deployment.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

use separate context for status updates
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

limit time spend on waiting for controller service
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

Allow controller SA to update restricted endpoints
  charts/piraeus/templates/controller-rbac.yml
  deploy/piraeus/templates/controller-rbac.yml
Due: generate-piraeus-yaml

Prepare for v1.1.0 release
  UPGRADE.md
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-controller.yaml
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/update_from_env.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

Release v1.1.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Path conditions:
  generate-deep-copy: any of: ^pkg/apis/.*\.go$
  generate-crds: any of: ^pkg/apis/.*\.go$
  generate-cn-values: any of: ^charts/piraeus/values.*\.yaml
  generate-piraeus-yaml: any of: (^charts/piraeus/.*)|(^deploy/piraeus/.*)
