Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

generate-deep-copy:
  name: generated deep-copy code must be up-to-date
  language: system
  pass_filenames: false
  entry: make deep-copy

generate-crds:
  name: generated crds must be up-to-date
  language: system
  pass_filenames: false
  entry: make crds

generate-cn-values:
  name: generate helm values for CN users
  language: system
  pass_filenames: false
  entry: make helm-values

generate-piraeus-yaml:
  name: generate full yaml deployment from helm templates
  language: system
  pass_filenames: false
  entry: make deploy/piraeus

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.3.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

update helm values + changelog for 1.3.1
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

add nodename to controller pod
  .golangci.yml
  CHANGELOG.md
  go.mod
  go.sum
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: none

truncate hostname in Job name
  charts/pv-hostpath/templates/pv.yaml
Due: none

#155 add docu section on CSI Volume Cloning
  doc/optional-components.md
Due: none

docs: instructions for custom injector image
  doc/host-setup.md
Due: none

Allow customizing controller env and properties
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  doc/helm-values.adoc
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/apis/piraeus/v1/zz_generated.deepcopy.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

fix operator-sdk invocation in non-complete go env
  Makefile
  pkg/k8s/metadata/util/util_test.go
Due: none

Make ControllerProperties optional in status
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  pkg/apis/piraeus/v1/linstorcontroller_types.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

Allow customizing satellite env
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/apis/piraeus/v1/zz_generated.deepcopy.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

reconcile network interfaces in Linstor clusters
  CHANGELOG.md
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/linstor/client/client.go
Due: none

switch to livenessprobe v2.2.0 - fix memleak
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
Due: generate-cn-values, generate-piraeus-yaml

update default docker images + fix upgrade issues
  UPGRADE.md
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/stork-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.4.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Remove csi node pods from host-network
  CHANGELOG.md
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: none

chart: update crds for snapshot controller
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/charts/csi-snapshotter/Chart.yaml
  charts/piraeus/charts/csi-snapshotter/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  charts/piraeus/charts/csi-snapshotter/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  charts/piraeus/charts/csi-snapshotter/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  charts/piraeus/charts/csi-snapshotter/values.yaml
Due: generate-piraeus-yaml

Use recommended labels for created resources
  .golangci.yml
  CHANGELOG.md
  charts/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/resources.go
Due: generate-piraeus-yaml

Add monitoring services
  CHANGELOG.md
  UPGRADE.md
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  cmd/manager/main.go
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  doc/helm-values.adoc
  go.mod
  go.sum
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/monitoring/monitoring.go
  pkg/k8s/spec/const.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

update default docker images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

docs: add section on monitoring
  doc/optional-components.md
Due: none

Path conditions:
  generate-deep-copy: any of: ^pkg/apis/.*\.go$
  generate-crds: any of: ^pkg/apis/.*\.go$
  generate-cn-values: any of: ^charts/piraeus/values.*\.yaml
  generate-piraeus-yaml: any of: (^charts/piraeus/.*)|(^deploy/piraeus/.*)
