Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: master
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

Update operator-sdk to v0.19 + LINSTOR client v0.33
  .github/workflows/check-and-build.yml
  CHANGELOG.md
  README.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  cmd/manager/main.go
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  go.mod
  go.sum
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-piraeus-yaml

Let injector image fail if usermode_helper not disabled
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/spec/const.go
Due: none

added namespace to operator manifests
  charts/piraeus/charts/etcd/templates/service.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/charts/etcd/templates/service.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/templates/tests/test-CS-svc.yaml
  deploy/piraeus/templates/tests/test-NS-svc.yaml
Due: generate-piraeus-yaml

anyuid for controller sa
  charts/piraeus/templates/controller-rbac.yml
  charts/piraeus/values-openshift.yaml
Due: generate-cn-values, generate-piraeus-yaml

chart: add HA Controller deployment
  CHANGELOG.md
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/ha-controller-deployment.yaml
  charts/piraeus/templates/ha-controller-rbac.yaml
  charts/piraeus/templates/stork-deployment.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/ha-controller-rbac.yaml
  doc/helm-values.adoc
  doc/optional-components.md
  examples/resource-requirements.yaml
Due: generate-cn-values, generate-piraeus-yaml

charts: add pull secret for HA Controller
  charts/piraeus/templates/ha-controller-deployment.yaml
Due: generate-piraeus-yaml

Use a timeout of 1m for all CSI components
  CHANGELOG.md
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: none

Make chown job image configurable
  CHANGELOG.md
  README.md
  charts/pv-hostpath/templates/pv.yaml
  charts/pv-hostpath/values.yaml
Due: none

Update image versions
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

add upgrade docs
  UPGRADE.md
Due: none

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.3.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Update pv-hostpath chart version
  charts/pv-hostpath/Chart.yaml
Due: none

add note on using symlinks in storage preparation
  doc/storage.md
Due: none

use strategy type: Recreate for linstor-controller
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: none

configurable linux kernel headers location
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/spec/const.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Update default chowner image
  CHANGELOG.md
  README.md
  charts/pv-hostpath/Chart.yaml
  charts/pv-hostpath/values.yaml
Due: none

update haController + kmod injector image
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Update host preparation section for DRBD
  README.md
  doc/host-setup.md
Due: none

changed gcr.io/google_containers/kube-scheduler-amd64 to k8s.gcr.io/kube-scheduler-amd64
  Makefile
  charts/piraeus/values.yaml
  deploy/piraeus/templates/stork-deployment.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

update helm values + changelog for 1.3.1
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.3.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml
