Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: master
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.6.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

charts: automatically select nodes for pv-hostpath
  CHANGELOG.md
  README.md
  charts/pv-hostpath/Chart.yaml
  charts/pv-hostpath/templates/pv.yaml
  charts/pv-hostpath/values.yaml
  doc/README.md
Due: none

copy labels from k8s node to satellite properties
  CHANGELOG.md
  charts/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/linstor/client/client.go
Due: generate-piraeus-yaml

Add NET_RAW capability on etcd container securitycontext - required for ping under CRI-O >= 1.18
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
Due: generate-piraeus-yaml

readme: add minimum kubernetes version
  README.md
Due: none

enable CSI topology and disable STORK by default
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/stork-deployment.yaml
  doc/README.md
Due: generate-cn-values, generate-piraeus-yaml

pv-hostpath: support k8s <1.20 for node selection
  charts/pv-hostpath/Chart.yaml
  charts/pv-hostpath/templates/pv.yaml
Due: none

delete auxiliary satellite props if not in labels
  UPGRADE.md
  pkg/linstor/client/client.go
Due: none

chart: rbac resources for linstor k8s backend + docs
  CHANGELOG.md
  README.md
  charts/piraeus/templates/controller-rbac.yml
  charts/piraeus/templates/legacy-check.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/controller-rbac.yml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/tests/test-CS-svc.yaml
  deploy/piraeus/templates/tests/test-NS-svc.yaml
  doc/k8s-backend.md
Due: generate-cn-values, generate-piraeus-yaml

chart: always create linstor passphrase
  CHANGELOG.md
  Makefile
  charts/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-controller.yaml
  doc/helm-values.adoc
  doc/security.md
Due: generate-piraeus-yaml

Evict and remove nodes with no associated K8s Node
  CHANGELOG.md
  go.mod
  go.sum
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/metadata/util/util.go
  pkg/k8s/metadata/util/util_test.go
  pkg/linstor/client/client.go
Due: none

update container images
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.7.0-rc.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

satellites: fix a deadlock in registration routine
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

satellites: allow restarting all pods at once
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

Release v1.7.0-rc.2
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

refactor: unify linstor client creation
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/linstor/client/client.go
Due: none

csidriver: restart node pods if topology labels changed
  charts/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-piraeus-yaml
