Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

generate-deep-copy:
  name: generated deep-copy code must be up-to-date
  language: system
  pass_filenames: false
  entry: make deep-copy

generate-crds:
  name: generated crds must be up-to-date
  language: system
  pass_filenames: false
  entry: make crds

generate-cn-values:
  name: generate helm values for CN users
  language: system
  pass_filenames: false
  entry: make helm-values

generate-piraeus-yaml:
  name: generate full yaml deployment from helm templates
  language: system
  pass_filenames: false
  entry: make deploy/piraeus

Remove backup nagging
  CHANGELOG.md
  UPGRADE.md
  charts/piraeus/templates/legacy-check.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  doc/k8s-backend.md
Due: generate-cn-values, generate-piraeus-yaml

Update Host Setup guide
  doc/host-setup.md
Due: none

update dependencies
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-deployment.yaml
  cmd/manager/main.go
  deploy/piraeus/templates/operator-deployment.yaml
  go.mod
  go.sum
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/monitoring/monitoring.go
Due: generate-piraeus-yaml

added healthz containerPort to linstor-csi-plugin containers
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: none

chart: update default images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

make: update to yq v4 syntax
  Makefile
Due: none

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.8.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

ci: disable broken and deprecated lints
  .golangci.yml
Due: none

stork: fix inconsistency in configmap volume name
  charts/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

Use controller-gen instead of operator-sdk
  .github/workflows/check-and-build.yml
  .github/workflows/scripts/install-operator-sdk.sh
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/apis/piraeus/shared/zz_generated.deepcopy.go
  pkg/apis/piraeus/v1/zz_generated.deepcopy.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

update go-version to 1.17
  .github/workflows/check-and-build.yml
Due: none

Fix OPERATOR_NAME
  charts/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-piraeus-yaml

Introduce option to disable monitoring
  CHANGELOG.md
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  cmd/manager/main.go
  deploy/piraeus/templates/operator-deployment.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-cn-values, generate-piraeus-yaml

docs: remove mistaken changelog entries
  CHANGELOG.md
Due: none

Hide HTTP endpoint when HTTPS enabled
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: none

Add httpBindAddress and httpsBindAddress options
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Implement sidecars and extraVolumes
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/apis/piraeus/v1/linstorcsidriver_types.go
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/apis/piraeus/v1/zz_generated.deepcopy.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Add example values for rbac-proxy
  doc/security.md
  examples/rbac-proxy-resources.yaml
  examples/rbac-proxy-values.yaml
Due: none

Update CHANGELOG
  CHANGELOG.md
  UPGRADE.md
Due: none

Add MonitoringBindAddress option
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Path conditions:
  generate-deep-copy: any of: ^pkg/apis/.*\.go$
  generate-crds: any of: ^pkg/apis/.*\.go$
  generate-cn-values: any of: ^charts/piraeus/values.*\.yaml
  generate-piraeus-yaml: any of: (^charts/piraeus/.*)|(^deploy/piraeus/.*)
