Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

generate-deep-copy:
  name: generated deep-copy code must be up-to-date
  language: system
  pass_filenames: false
  entry: make deep-copy

generate-crds:
  name: generated crds must be up-to-date
  language: system
  pass_filenames: false
  entry: make crds

generate-cn-values:
  name: generate helm values for CN users
  language: system
  pass_filenames: false
  entry: make helm-values

generate-piraeus-yaml:
  name: generate full yaml deployment from helm templates
  language: system
  pass_filenames: false
  entry: make deploy/piraeus

Fix conflicting names
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

fix CSIControllerName
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/k8s/spec/piraeus.go
Due: none

manually delete legacy resource names
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/resources.go
Due: none

controller: avoid error loop when scaling deployment
  pkg/controller/linstorcontroller/linstorcontroller_backup.go
Due: none

helm: prevent naive passphrase deletion
  CHANGELOG.md
  README.md
  charts/piraeus/templates/operator-controller-passphrase.yaml
  deploy/piraeus/templates/operator-controller-passphrase.yaml
  doc/k8s-backend.md
Due: generate-piraeus-yaml

changelog: merge RC changes
  CHANGELOG.md
Due: none

helm: use LINSTOR 1.18.0 image
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.8.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

reconfigure net-interface if transport changed
  pkg/linstor/client/client.go
Due: none

work around inconsistent linstor flag values
  pkg/linstor/client/client.go
Due: none

Describe supported private key format for etcd connection
  doc/security.md
Due: none

chart: add toleration for control plane
  charts/piraeus/charts/etcd/values.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  charts/pv-hostpath/values.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/operator-controller.yaml
  doc/helm-values.adoc
  doc/scheduling.md
Due: generate-cn-values, generate-piraeus-yaml

Update doc/host-setup.md
  doc/host-setup.md
Due: none

Added doc: host setup - disable lvmetad
  doc/host-setup.md
Due: none

Update doc/host-setup.md
  .pre-commit-config.yaml
  doc/host-setup.md
Due: none

clear syntax errors posted by markdownlint
  doc/host-setup.md
Due: none

satellites: restore evicted satellites if pod exists
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

Path conditions:
  generate-deep-copy: any of: ^pkg/apis/.*\.go$
  generate-crds: any of: ^pkg/apis/.*\.go$
  generate-cn-values: any of: ^charts/piraeus/values.*\.yaml
  generate-piraeus-yaml: any of: (^charts/piraeus/.*)|(^deploy/piraeus/.*)
