Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

generate-deep-copy:
  name: generated deep-copy code must be up-to-date
  language: system
  pass_filenames: false
  entry: make deep-copy

generate-crds:
  name: generated crds must be up-to-date
  language: system
  pass_filenames: false
  entry: make crds

generate-cn-values:
  name: generate helm values for CN users
  language: system
  pass_filenames: false
  entry: make helm-values

generate-piraeus-yaml:
  name: generate full yaml deployment from helm templates
  language: system
  pass_filenames: false
  entry: make deploy/piraeus

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

create signed-off commits in next-release task
  Makefile
Due: none

Release v1.5.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

docs: add section on monitoring
  doc/optional-components.md
Due: none

update default docker images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

Added documentation regarding multipath on Ubuntu 20.04 and Piraeus not supporting snapshots with LVM pools
  doc/host-setup.md
  doc/storage.md
Due: none

Update images for release 1.5.1
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/tests/test-CS-svc.yaml
  deploy/piraeus/templates/tests/test-NS-svc.yaml
Due: generate-cn-values, generate-piraeus-yaml

CI: support newer golangci-linters
  .golangci.yml
Due: none

Release v1.5.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Helm: Disable Stork Health Monitor by default
  CHANGELOG.md
  charts/piraeus/templates/stork-deployment.yaml
  deploy/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

Remove csi-snapshotter chart
  CHANGELOG.md
  README.md
  UPGRADE.md
  charts/piraeus/Chart.yaml
  charts/piraeus/charts/csi-snapshotter/.helmignore
  charts/piraeus/charts/csi-snapshotter/Chart.yaml
  charts/piraeus/charts/csi-snapshotter/NOTICE.txt
  charts/piraeus/charts/csi-snapshotter/README.md
  charts/piraeus/charts/csi-snapshotter/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  charts/piraeus/charts/csi-snapshotter/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  charts/piraeus/charts/csi-snapshotter/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  charts/piraeus/charts/csi-snapshotter/templates/NOTES.txt
  charts/piraeus/charts/csi-snapshotter/templates/_helpers.tpl
  charts/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  charts/piraeus/charts/csi-snapshotter/templates/rbac.yaml
  charts/piraeus/charts/csi-snapshotter/values.schema.json
  charts/piraeus/charts/csi-snapshotter/values.yaml
  charts/piraeus/values-openshift.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/rbac.yaml
  doc/helm-values.adoc
  doc/optional-components.md
  doc/scheduling.md
  examples/resource-requirements.yaml
Due: generate-cn-values, generate-piraeus-yaml

Add option to set kubelet directory for CSI driver
  CHANGELOG.md
  UPGRADE.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  doc/distributions.md
  doc/helm-values.adoc
  pkg/apis/piraeus/v1/linstorcsidriver_types.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Update kube-api resources to v1.21
  .golangci.yml
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  go.mod
  go.sum
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/resources.go
  pkg/k8s/reconcileutil/update_from_env.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

Enable csi storage capacity tracking
  CHANGELOG.md
  charts/piraeus/templates/csi-controller-rbac.yml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/csi-controller-rbac.yml
  deploy/piraeus/templates/operator-csi-driver.yaml
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-cn-values, generate-piraeus-yaml

add github-action and dockerfile for multi-arch build
  .github/workflows/build.yml
  build/Dockerfile.multiarch
Due: none

remove old build tools
  .github/workflows/build.yml
  .github/workflows/check-and-build.yml
  .gitignore
  Makefile
  build/Dockerfile
  build/Dockerfile.multiarch
Due: none

Use "nonroot" user instead of hardcoded uid
  build/Dockerfile
Due: none

docs,chart: expand message when installing chart
  charts/piraeus/Chart.yaml
  charts/piraeus/templates/NOTES.txt
  doc/README.md
Due: generate-piraeus-yaml

Update default images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/ha-controller-deployment.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  deploy/piraeus/templates/stork-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.6.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Path conditions:
  generate-deep-copy: any of: ^pkg/apis/.*\.go$
  generate-crds: any of: ^pkg/apis/.*\.go$
  generate-cn-values: any of: ^charts/piraeus/values.*\.yaml
  generate-piraeus-yaml: any of: (^charts/piraeus/.*)|(^deploy/piraeus/.*)
