Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: master
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: master
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

update default images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.7.0-rc.3
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

keep generated passphrase after uninstall
  charts/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-controller.yaml
Due: generate-piraeus-yaml

changelog: fixup so v1.7.0 includes all changes
  CHANGELOG.md
Due: none

Release v1.7.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Fix tls secret fetcher for satellite operator
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

monitoring: configure TLS for ServiceMonitor
  CHANGELOG.md
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/k8s/reconcileutil/resources.go
Due: none

CSI: add secrets RBAC for sidecar containers
  CHANGELOG.md
  charts/piraeus/templates/csi-controller-rbac.yml
  deploy/piraeus/templates/csi-controller-rbac.yml
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-piraeus-yaml

allow setting components log level via CRs
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  go.mod
  go.sum
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/apis/piraeus/v1/linstorcontroller_types.go
  pkg/apis/piraeus/v1/linstorcsidriver_types.go
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

etcd: add option to set priorityClassName
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/charts/etcd/Chart.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/charts/etcd/values.yaml
  deploy/piraeus/charts/etcd/templates/service.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
Due: generate-piraeus-yaml

drbd-injection: make source directory configurable
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  doc/helm-values.adoc
  doc/host-setup.md
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

docs: add missing helm entries
  doc/helm-values.adoc
Due: none

Release v1.7.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

csi-controller: add options to set amount of worker threads
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  pkg/apis/piraeus/v1/linstorcsidriver_types.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

Update CSI images
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  pkg/controller/linstorcsidriver/const.go
Due: generate-cn-values, generate-piraeus-yaml

csi: fix wrong arg names
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: none

csi: make default worker setting backwards compatible
  CHANGELOG.md
  UPGRADE.md
  charts/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  doc/helm-values.adoc
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-piraeus-yaml
