Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: a4be1d0f860565649a450a8d480e541844c14a07
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

readme: mention operator v1 & update missing features
  README.md
Due: none

update default images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.10.2
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

how-to: host networking
  docs/how-to/README.md
  docs/how-to/drbd-host-networking.md
Due: none

tutorial: replicated volume
  docs/tutorial/README.md
  docs/tutorial/replicated-volumes.md
Due: none

docs: simplify kubectl apply instructions
  docs/tutorial/get-started.md
  docs/tutorial/replicated-volumes.md
Due: none

tutorial: snapshots
  docs/tutorial/README.md
  docs/tutorial/snapshots.md
Due: none

docs: use 1Gi as example volume size
  docs/tutorial/get-started.md
  docs/tutorial/replicated-volumes.md
Due: none

how-to: DRBD on OpenShift
  docs/how-to/README.md
  docs/how-to/openshift.md
Due: none

v2: Make operator usable on OpenShift
  config/crd/kustomization.yaml
  config/manager/default_images.yaml
  config/manifests/bases/piraeus-operator.clusterserviceversion.yaml
  config/manifests/csv-resource-patch.yaml
  config/manifests/kustomization.yaml
  config/rbac/role.yaml
  controllers/linstorcluster_controller.go
  hack/csvinflater/csvinflater.go
  pkg/resources/cluster/csi/csi-node-service-account.yaml
  pkg/resources/cluster/satellite-common/service-account.yaml
Due: none

Update dependencies
  .github/workflows/check-and-build.yml
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  go.mod
  go.sum
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
Due: generate-piraeus-yaml

v2: reintroduce a helm chart
  .pre-commit-config.yaml
  Makefile
  charts/piraeus/.helmignore
  charts/piraeus/Chart.yaml
  charts/piraeus/README.md
  charts/piraeus/templates/NOTES.txt
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/config.yaml
  charts/piraeus/templates/crds.yaml
  charts/piraeus/templates/deployment.yaml
  charts/piraeus/templates/metrics-service.yaml
  charts/piraeus/templates/rbac.yaml
  charts/piraeus/templates/validating-webhook-configuration.yaml
  charts/piraeus/templates/webhook-service.yaml
  charts/piraeus/values.yaml
  config/crd/kustomization.yaml
  docs/README.md
  hack/crd-charts-copy.sh
Due: generate-cn-values, generate-piraeus-yaml

update default images
  charts/piraeus/templates/config.yaml
  config/manager/default_images.yaml
Due: generate-piraeus-yaml

Update dependencies
  .github/workflows/checks.yml
  api/v1/storagepool.go
  go.mod
  go.sum
Due: none

Prepare for a first v2 release
  .github/workflows/build.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  UPGRADE.md
  docs/README.md
  main.go
Due: none

Add make target for creating releases
  Makefile
  hack/make-release.sh
Due: none

Release v2.0.0-rc.1
  CHANGELOG.md
  README.md
  charts/piraeus/Chart.yaml
  config/default/kustomization.yaml
  docs/tutorial/get-started.md
Due: generate-piraeus-yaml

Prepare next dev cycle
  CHANGELOG.md
  README.md
  config/default/kustomization.yaml
  docs/tutorial/get-started.md
Due: none

Add HA Controller to cluster deployment
  CHANGELOG.md
  README.md
  charts/piraeus/templates/config.yaml
  charts/piraeus/templates/rbac.yaml
  config/manager/default_images.yaml
  config/rbac/role.yaml
  controllers/linstorcluster_controller.go
  controllers/patches.go
  pkg/resources/cluster/controller/controller-deployment.yaml
  pkg/resources/cluster/csi/csi-controller-deployment.yaml
  pkg/resources/cluster/csi/csi-node-daemon-set.yaml
  pkg/resources/cluster/ha-controller/daemonset.yaml
  pkg/resources/cluster/ha-controller/kustomization.yaml
  pkg/resources/cluster/ha-controller/rbac.yaml
  pkg/resources/cluster/patches/ha-controller-node-selector.yaml
  pkg/resources/cluster/resources.go
  pkg/resources/satellite/pod/node-pod.yaml
Due: generate-piraeus-yaml

Prepare for full v2.0.0 release
  CHANGELOG.md
  README.md
  charts/piraeus/templates/NOTES.txt
  hack/make-release.sh
Due: generate-piraeus-yaml
