Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

generate-deep-copy:
  name: generated deep-copy code must be up-to-date
  language: system
  pass_filenames: false
  entry: make deep-copy

generate-crds:
  name: generated crds must be up-to-date
  language: system
  pass_filenames: false
  entry: make crds

generate-cn-values:
  name: generate helm values for CN users
  language: system
  pass_filenames: false
  entry: make helm-values

generate-piraeus-yaml:
  name: generate full yaml deployment from helm templates
  language: system
  pass_filenames: false
  entry: make deploy/piraeus

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.1.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Prepare for v1.1.0 release
  UPGRADE.md
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-controller.yaml
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/update_from_env.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

pv-hostpath: ensure permissions are applied on all nodes
  CHANGELOG.md
  charts/pv-hostpath/Chart.yaml
  charts/pv-hostpath/templates/pv.yaml
Due: none

Automatically prepare devices via storagePools configuration
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  doc/storage.md
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/apis/piraeus/shared/linstor_types_test.go
  pkg/apis/piraeus/shared/zz_generated.deepcopy.go
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/resources.go
  pkg/linstor/client/client.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

Helm: make creation of controller and satellite set optional
  CHANGELOG.md
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

set default pod affinity for HA deployments
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  doc/helm-values.adoc
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/k8s/spec/const.go
  pkg/k8s/spec/piraeus.go
Due: generate-cn-values, generate-piraeus-yaml

added openshift support
  charts/piraeus/charts/etcd/templates/rbac.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/psp.yaml
  charts/piraeus/values.yaml
  charts/pv-hostpath/templates/pv.yaml
  charts/pv-hostpath/values.yaml
Due: generate-cn-values, generate-piraeus-yaml

removed emty lines
  charts/piraeus/templates/_helpers.tpl
Due: generate-piraeus-yaml

improve compatibility with security controllers
  CHANGELOG.md
  Makefile
  README.md
  charts/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  charts/piraeus/charts/csi-snapshotter/values.yaml
  charts/piraeus/charts/etcd/templates/statefulset.yaml
  charts/piraeus/charts/etcd/values.yaml
  charts/piraeus/templates/_helpers.tpl
  charts/piraeus/templates/operator-deployment.yaml
  charts/piraeus/templates/stork-deployment.yaml
  charts/piraeus/values-openshift.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  charts/pv-hostpath/Chart.yaml
  charts/pv-hostpath/templates/_helpers.tpl
  charts/pv-hostpath/templates/pv.yaml
  charts/pv-hostpath/values.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/charts/etcd/templates/statefulset.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  doc/helm-values.adoc
  doc/scheduling.md
Due: generate-cn-values, generate-piraeus-yaml

propagate CR updates to created resources
  CHANGELOG.md
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/resources.go
Due: none

update to use new github-actions PATH update
  .github/workflows/scripts/install-operator-sdk.sh
Due: none

restart controller+satellites on config change
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/reconcileutil/resources.go
Due: none

add log directory group to controller pod
  CHANGELOG.md
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/k8s/spec/const.go
Due: none

update github actions
  .github/workflows/check-and-build.yml
  .github/workflows/offline.yml
Due: none

update default images + csi liveness probe
  CHANGELOG.md
  Makefile
  README.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/templates/csi-controller-rbac.yml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/charts/csi-snapshotter/templates/deployment.yaml
  deploy/piraeus/templates/csi-controller-rbac.yml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
  pkg/apis/piraeus/v1/linstorcsidriver_types.go
  pkg/controller/linstorcsidriver/const.go
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
Due: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

add csi livenessprobe image override
  pkg/controller/linstorcsidriver/linstorcsidriver_controller.go
  pkg/k8s/spec/const.go
Due: none

docs: add upgrade instructions for v1.2
  UPGRADE.md
Due: none

yaml-deploy: update stork scheduler version
  Makefile
  deploy/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

Release v1.2.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

fix helm warnings when merging tables
  CHANGELOG.md
  charts/piraeus/templates/operator-controller.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  doc/helm-values.adoc
Due: generate-cn-values, generate-piraeus-yaml

Update operator-sdk to v0.19 + LINSTOR client v0.33
  .github/workflows/check-and-build.yml
  CHANGELOG.md
  README.md
  charts/piraeus/crds/piraeus.linbit.com_linstorcontrollers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorcsidrivers_crd.yaml
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets_crd.yaml
  charts/piraeus/templates/operator-csi-driver.yaml
  charts/piraeus/templates/operator-serviceaccount.yaml
  cmd/manager/main.go
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-serviceaccount.yaml
  go.mod
  go.sum
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-piraeus-yaml

Path conditions:
  generate-deep-copy: any of: ^pkg/apis/.*\.go$
  generate-crds: any of: ^pkg/apis/.*\.go$
  generate-cn-values: any of: ^charts/piraeus/values.*\.yaml
  generate-piraeus-yaml: any of: (^charts/piraeus/.*)|(^deploy/piraeus/.*)
