Repository piraeusdatastore/piraeus-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-deep-copy, generate-crds, generate-cn-values, generate-piraeus-yaml

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
        exclude: 'deploy/piraeus/'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'charts/'
        args:
          - --multi
      - id: check-added-large-files
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: a4be1d0f860565649a450a8d480e541844c14a07
    hooks:
      - id: gofumpt
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: golangci-lint
        args:
          - --new-from-rev=HEAD
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: generate-deep-copy
        name: generated deep-copy code must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make deep-copy
      - id: generate-crds
        name: generated crds must be up-to-date
        language: system
        files: '^pkg/apis/.*\.go$'
        pass_filenames: false
        entry: make crds
      - id: generate-cn-values
        name: generate helm values for CN users
        language: system
        files: '^charts/piraeus/values.*\.yaml'
        pass_filenames: false
        entry: make helm-values
      - id: generate-piraeus-yaml
        name: generate full yaml deployment from helm templates
        language: system
        files: '(^charts/piraeus/.*)|(^deploy/piraeus/.*)'
        pass_filenames: false
        entry: make deploy/piraeus

fix stuck reconciler when updating service monitor
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

reconcile: ensure annotations are applied even for recreated resources
  pkg/k8s/reconcileutil/resources.go
Due: none

Prepare next dev cycle
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.9.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Fix controller's service monitor when using TLS
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
Due: none

satellites: only restore evicted sat. on ready nodes
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

Release v1.10.0-rc.1
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

Update container images
  CHANGELOG.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-csi-driver.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Added drbd and linstor configuration directories as hostpath volumes (optional).
  CHANGELOG.md
  charts/piraeus/crds/piraeus.linbit.com_linstorsatellitesets.yaml
  charts/piraeus/templates/operator-satelliteset.yaml
  doc/helm-values.adoc
  pkg/apis/piraeus/v1/linstorsatelliteset_types.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/k8s/spec/const.go
Due: generate-deep-copy, generate-crds, generate-piraeus-yaml

satellite: change default monitoring address
  CHANGELOG.md
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: none

operator: use net.IP to compare LINSTOR address
  CHANGELOG.md
  go.mod
  go.sum
  pkg/controller/linstorcontroller/linstorcontroller_controller.go
  pkg/controller/linstorcontroller/linstorcontroller_controller_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
  pkg/linstor/client/client.go
Due: none

Update images
  CHANGELOG.md
  UPGRADE.md
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-controller.yaml
  deploy/piraeus/templates/operator-satelliteset.yaml
Due: generate-cn-values, generate-piraeus-yaml

Release v1.10.0
  CHANGELOG.md
  charts/piraeus/Chart.yaml
  charts/piraeus/values.cn.yaml
  charts/piraeus/values.yaml
  deploy/piraeus/templates/operator-deployment.yaml
  version/version.go
Due: generate-cn-values, generate-piraeus-yaml

satellite: support setting VG name on LVM thinpool
  CHANGELOG.md
  doc/storage.md
  pkg/apis/piraeus/shared/linstor_types.go
  pkg/apis/piraeus/shared/linstor_types_test.go
  pkg/controller/linstorsatelliteset/linstorsatelliteset_controller.go
Due: generate-deep-copy, generate-crds

Use secure-port of kube-scheduler on liveness check when k8s version is higher than 1.22
  charts/piraeus/templates/stork-deployment.yaml
Due: generate-piraeus-yaml

Add k8s resources used by the operator
  pkg/resources/cluster/controller/controller-cluster-role-binding.yaml
  pkg/resources/cluster/controller/controller-cluster-role.yaml
  pkg/resources/cluster/controller/controller-config.yaml
  pkg/resources/cluster/controller/controller-deployment.yaml
  pkg/resources/cluster/controller/controller-service-account.yaml
  pkg/resources/cluster/controller/controller-service.yaml
  pkg/resources/cluster/controller/kustomization.yaml
  pkg/resources/cluster/csi/csi-controller-deployment.yaml
  pkg/resources/cluster/csi/csi-controller-service-account.yaml
  pkg/resources/cluster/csi/csi-driver.yaml
  pkg/resources/cluster/csi/csi-node-daemon-set.yaml
  pkg/resources/cluster/csi/csi-node-service-account.yaml
  pkg/resources/cluster/csi/kustomization.yaml
  pkg/resources/cluster/resources.go
  pkg/resources/cluster/satellite-common/kustomization.yaml
  pkg/resources/cluster/satellite-common/network-policy.yaml
  pkg/resources/cluster/satellite-common/service-account.yaml
  pkg/resources/cluster/satellite/kustomization.yaml
  pkg/resources/cluster/satellite/linstor-satellite.yaml
  pkg/resources/loader.go
  pkg/resources/loader_test.go
  pkg/resources/satellite/pod/kustomization.yaml
  pkg/resources/satellite/pod/node-config.yaml
  pkg/resources/satellite/pod/node-pod.yaml
  pkg/resources/satellite/resources.go
  pkg/resources/test/basic/kustomization.yaml
  pkg/resources/test/basic/namespace.yaml
  pkg/resources/test/basic/serviceaccount.yaml
  pkg/resources/test/empty/kustomization.yaml
  pkg/resources/test/resources.go
Due: none

Add default image configuration
  config/manager/default_images.yaml
  go.mod
  go.sum
  pkg/imageversions/versions.go
  pkg/imageversions/versions_test.go
Due: none

utils: add AnyError helper
  pkg/utils/anyerror.go
Due: none

utils: add fieldpath pkg
  pkg/utils/fieldpath/doc.go
  pkg/utils/fieldpath/fieldpath.go
  pkg/utils/fieldpath/fieldpath_test.go
Due: none

utils: add jsonpatch types
  pkg/utils/jsonpatch.go
Due: none

utils: add property helpers
  api/v1/properties.go
  go.mod
  go.sum
  pkg/utils/property_resolution.go
  pkg/utils/property_resolution_test.go
  pkg/vars/defaults.go
Due: none
